@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

html {
  overflow-y: scroll;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
