@import "tailwindcss";

:root {
  --background: #858d9c;
  --foreground: #0f172a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b131e;
    --foreground: #f8fafc;
  }
}

html {
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
